{{#if resume.certificates.length}}
  <section id="certificates">
    <h3>Certificates</h3>
    <div class="stack">
      {{#each resume.certificates}}
        <article>
          <header>
            <div class="spaced-list">
              <h4>{{> link}}</h4>
              {{#date}}
                <time datetime="{{.}}">{{formatDate .}}</time>
              {{/date}}
            </div>
            {{#issuer}}
              <span>
                Issued by <strong>{{.}}</strong>
              </span>
            {{/issuer}}
          </header>
        </article>
      {{/each}}
    </div>
  </section>
{{/if}}
