{{#if resume.interests.length}}
  <section id="interests">
    <h3>Interests</h3>
    <div class="grid-list">
      {{#each resume.interests}}
        <div>
          {{#name}}
            <h4>{{.}}</h4>
          {{/name}}
          {{#if keywords.length}}
            <ul class="tag-list">
              {{#keywords}}
                <li>{{.}}</li>
              {{/keywords}}
            </ul>
          {{/if}}
        </div>
      {{/each}}
    </div>
  </section>
{{/if}}
