{{#if resume.languages.length}}
  <section id="languages">
    <h3>Languages</h3>
    <div class="grid-list">
      {{#each resume.languages}}
        <div>
          {{#language}}
            <h4>{{.}}</h4>
          {{/language}}
          {{fluency}}
        </div>
      {{/each}}
    </div>
  </section>
{{/if}}
