{{#if resume.publications.length}}
  <section id="publications">
    <h3>Publications</h3>
    <div class="stack">
      {{#each resume.publications}}
        <article>
          <header>
            <div class="spaced-list">
              <h4>{{> link}}</h4>
              {{#releaseDate}}
                <time datetime="{{.}}">{{formatDate .}}</time>
              {{/releaseDate}}
            </div>
            {{#publisher}}
              <span>
                Published by <strong>{{.}}</strong>
              </span>
            {{/publisher}}
          </header>
          {{#summary}}
            {{{markdown .}}}
          {{/summary}}
        </article>
      {{/each}}
    </div>
  </section>
{{/if}}
