{{#if resume.publications.length}}
  <section id="publications">
    <h3>Publications</h3>
    <div class="stack">
      {{#each resume.publications}}
        <article>
          <header>
            <h4>{{> link}}</h4>
            <div class="meta">
              {{#publisher}}
                <div>
                  Published by <strong>{{.}}</strong>
                </div>
              {{/publisher}}
              {{#releaseDate}}
                <time datetime="{{.}}">{{formatDate .}}</time>
              {{/releaseDate}}
            </div>
          </header>
          {{#summary}}
            {{{markdown .}}}
          {{/summary}}
        </article>
      {{/each}}
    </div>
  </section>
{{/if}}
