{{#if resume.references.length}}
  <section id="references">
    <h3>References</h3>
    <div class="stack">
      {{#each resume.references}}
        {{#if reference}}
          <blockquote>
            {{{markdown reference}}}
            {{#name}}
              <p>
                <cite>{{.}}</cite>
              </p>
            {{/name}}
          </blockquote>
        {{/if}}
      {{/each}}
    </div>
  </section>
{{/if}}
