<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {{#resume.basics}}
      {{> meta}}
    {{/resume.basics}}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap">
    <style>{{{css}}}</style>
  </head>
  <body>
    {{#resume.basics}}
      {{> header}}
    {{/resume.basics}}

    {{> work}}
    {{> volunteer}}
    {{> education}}
    {{> projects}}
    {{> awards}}
    {{> certificates}}
    {{> publications}}
    {{> skills}}
    {{> languages}}
    {{> interests}}
    {{> references}}
  </body>
</html>
